.header {
  background-color: #517330;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  /* width: 100%; */
  z-index: 1000;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 1.5rem;
  margin: 0;
}

.nav {
  display: flex;
  padding: 1rem 0;
  color: whitesmoke;
}

.nav-link {
  margin-right: 1rem;
  margin-left: 1rem;
  text-decoration: none;
  color: whitesmoke;
}

.nav-link:hover {
  text-decoration: underline;
}
